<% layout("layouts/boilerplate") %>
<div class="row mt-3">
    <div class="col-8 offset-2">
        <br></br>
        <h3>Edit: </h3>
        <form method="POST" action="/home/<%= product._id %>?_method=PUT" class="needs-validation" novalidate enctype="multipart/form-data">
            <div class="mb-3">
                <label for="name" class="form-label">Name</label>
                <input name="product[name]" value="<%= product.name %>" type="text" class="form-control" required>
            </div>
            <div class="mb-3">
                <label for="description" class="form-label">Description</label>
                <textarea name="product[description]" class="form-control" required><%= product.description %></textarea>
            </div>
            <div class="mb-3">
                Original Product Image <br>
                <img src="<%= originalImageUrl %>">
            </div>
            <div class="mb-3">
                <label for="image" class="form-label">Upload New Image</label>
                <input name="product[image]" type="file" class="form-control">
            </div>
            <div class="row">
                <div class="mb-3 col-md-4">
                    <label for="price" class="form-label">Price</label>
                    <input name="product[price]" value="<%= product.price %>" type="number" class="form-control" required>
                </div>
                <div class="mb-3 col-md-8">
                    <label for="quantity" class="form-label">Quantity</label>
                    <input name="product[quantity]" value="<%= product.quantity %>" type="number" class="form-control" required>
                </div>
            </div>
            <div class="mb-3">
                <label for="category" class="form-label">Category</label>
                <input name="product[category]" value="<%= product.category %>" type="text" class="form-control" required>
            </div>
            <button class="btn btn-dark edit-btn mt-3">Edit</button>
            <br><br>
        </form>
    </div>
</div>